@{
    ViewData["Title"] = "About Us";
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/About.css">
<div class="title-description">
    <h1>About Project</h1>
    <h5>This project was created by one person who wanted to have a practice of creating a web-sites</h5>
</div>
<div class="middle">
    <h2 style="margin-left:5%;margin-top:5%;">Description</h2>
    <hr />
    <div class="ProjectDescription">
        <h4>Історія проекту</h4>
        <p>Car Sharing - це місце де клієнт може виставити своє авто для оренди, а також можливість таких же користувачів взяти авто в оренду.
            Вся інформація про машину, локацію, країну клієнт встановлює за власним бажанням. Договірність о оренди машину відбувається на пряму через телефон.    
        </p>
        <p>Можливість додання чату розглядається....</p>
        <h4>Цілі проекту</h4>
            <ul>
                <li>
                    Створення невеликого мікропроекту для отримання практичного досвіду у розробці веб-сторінки.
                </li>
                <li>
                    Створення невеликого мікропроекту для отримання практичного досвіду у розробці веб-сторінки.
                </li>
                <li>
                    Створення чистої архітектури кодування у монолітному проекті. 
                </li>
                <li>
                    Застосування Медіатра, валідацій, Identity ресурсів, однієї бази даних, ajax, extentions.
                </li>
                <li>
                    Створення тестування середовища за допомогою бібліотеки Nunit.
                </li>
            </ul>     
        <p></p>
    </div>
    <h2 style="margin-left:5%;margin-top:5%;">Technologies witch i used</h2>
    <hr />
    <div class="Technologies">
        <table>
            <tr>
                <td><p>С#</p></td>
                <td><p>.NET</p></td>
                <td><p>ASP.NET/MVC</p></td>
            </tr>
            <tr>
                <td><p>JavaScript</p></td>
                <td><p>HTML/CSS</p></td>
                <td><p>Ajax</p></td>
            </tr>
            <tr>
                <td><p>Identity</p></td>
                <td><p>Fluent Validation</p></td>
                <td><p>CQRS</p></td>
            </tr>
            <tr>
                <td><p>LINQ</p></td>
                <td><p>MediatR</p></td>
                <td><p>Entity Freamwork</p></td>
            </tr>
            
        </table>
    </div>
    <div class="end">
        <div>
            <h2 style="margin-left:5%;margin-top:2%;">Contact Information</h2>
            <hr style="color:black" />
        </div>
        <div class="MyDescription">
            <div class="first-information">
                <p style="font-weight:600; font-size:36px;">Oleksandr Domanskyi</p>
                <p>C# ASP.NET/MVC Junior Developer</p>
                <p>Contact Number: +48 728 396 787</p>
            </div>
            <div class="Second-information">
                <a style="margin-top:20px;" href="https://www.linkedin.com/in/oleksandr-domanskyi-65a21b244">LinkedIn</a>
                <a style="margin-top:40px;" href="https://www.instagram.com/nekoma.sasha?igsh=aHdycTMzbmN6cTIw">Instagram</a>
            </div>
          
        </div>
    </div>
   
    
</div>



